<!-- Remove the container if you want to extend the Footer to full width. -->

<div style="position: fixed; bottom: 0; left: 0 ;width: 100%; margin-top: 200px;" class="bg-warning ">

    <footer class="bg-light text-center text-white">
  
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white text-decoration-none fw-bold" href="https://mahmoudabohgr.tech/">mahmoudabohgr.tech</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->
</body>
</html>